.topnav {
    background-color: #333;
    overflow: hidden;
    position: center;
  }
  
 
  .topnav a {
    float: left;
    color: #f4f1f1;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  

  }
  

  .topnav a:hover {
    background-color: #dddddde8;
    color: rgb(220, 211, 211);
    
  }
  

  .topnav a.active {
    background-color: #000000;
    color: white;
  }

  #titolo
  {
    padding: 14px 16px;
    font-family: -apple-system-headline;
    
  }

  .button{
    border: none;
    color: rgb(83, 78, 78);
    padding: 30 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 6px 50px;
    cursor: pointer;
  }

  div.img {
    margin: 40px;
    float: left;
    width: 180px;
    
  }

  div.catalogo
  {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 12px;
    display: flex; /* Utilizziamo il flexbox per allineare le immagini orizzontalmente  */
  }